.login-admin-container {
  display: flex;
  justify-content: center;
}

.login-header{
  text-align: center;
  padding: 0px 50px;
}

.login-card {
  margin-top: 5%;
  max-width: 300px;
}

.login-actions .item {
  width: 90px;
  height: 35px;
  float: left;
  position: relative;
  overflow: hidden;
}