<div class="login-admin-container">
  <mat-card class="login-card">
    <mat-card-header class="login-header">
      <mat-card-subtitle>Bienvenido Adminstrador</mat-card-subtitle>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content class="login-content">
      <app-login-admin-form></app-login-admin-form>
    </mat-card-content>
    <mat-card-actions class="login-actions">
      <app-login-button class="item"></app-login-button>
      <app-cancel-button class="item"></app-cancel-button>
    </mat-card-actions>
  </mat-card>
</div>
