.login-admin-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-card {
  justify-content: center;
  border-radius: 25px;
  background-color: rgb(200, 233, 246);
  padding: 20px;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login-actions {
  display: flex;
  justify-content: flex-end;
}

.login-footer {
  display: flex;
  justify-content: center;
}
