<div class="employee-container">
  <mat-card class="register-employee-card">
    <div class="main-employee">
      <mat-card-header class="register-employee-header">
        <mat-card-title>Buscar vacante</mat-card-title>
        <mat-card-subtitle class="subtitle">Encuentra la vacante apropiada, postula y obtenga un puesto de
          empleo</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="register-employee-actions">
        <app-register-button class="register-button"></app-register-button>
      </mat-card-actions>
    </div>
    <mat-card-content class="register-employee-content">
      <div class="section-content">
        <img class="img" src="../../../../assets/img/find-vacant.svg" alt="">
      </div>
    </mat-card-content>
  </mat-card>
</div>