.employee-container {
  display: flex;
  justify-content: center;
}

.register-employee-card {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0px;
}

.subtitle {
  max-width: 250px;
}

.section-content .img {
  width: 200px;
}

.register-employee-actions  {
  text-align: center;
}