<div class="employer-container">
    <mat-card class="register-employer-card">
      <mat-card-content class="register-employer-content">
        <div class="section-content">
          <img class="img" src="../../../../assets/img/person-header.svg" alt="">
      </div>
      </mat-card-content>
      <mat-card-header class="register-employer-header">
        <mat-card-title>Publicar vacante</mat-card-title>
        <mat-card-subtitle class="subtitle">Registra y publica vacante para obtener la mano de obra adecuada</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="register-employer-actions">
        <app-register-button></app-register-button>
      </mat-card-actions>
    </mat-card>
  </div>