<div class="reset-password-container">
    <mat-card class="reset-card">
      <div class="reset-header">
        <mat-card-subtitle>Restablecer contraseña</mat-card-subtitle>
        <mat-card-title>Nuevas credenciales</mat-card-title>
      </div>
      <mat-card-content class="reset-content">
        <p>Para restablecer su contraseña", por favor ingrese sus nuevas credenciales.</p>
        <app-password-input></app-password-input>
      </mat-card-content>
      <mat-card-actions class="reset-actions">
        <app-cancel-button></app-cancel-button>
        <app-reset-button></app-reset-button>
      </mat-card-actions>
    </mat-card>
  </div>
  