<div class="forget-password-container">
    <mat-card class="forget-card">
      <div class="forget-header">
        <mat-card-subtitle>Restablecer contraseña</mat-card-subtitle>
        <mat-card-title>Haz olvidado la contraseña</mat-card-title>
      </div>
      <mat-card-content class="forget-content">
        <p>Si haz olvidado la contraseña, por favor ingrese el correo electrónico de su usuario.</p>
        <app-email-input></app-email-input>
        <app-send-button></app-send-button>
    </mat-card-content>
      <mat-card-actions class="forget-actions">
        <app-cancel-button></app-cancel-button>
      </mat-card-actions>
    </mat-card>
  </div>
  