.forget-password-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .forget-card {
    justify-content: center;
    border-radius: 25px;
    background-color: rgb(200, 233, 246);
    padding: 20px;
  }
  
  .forget-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0;
  }

  .forget-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0;
  }
  
  .forget-actions {
    display: flex;
    justify-content: flex-end;
  }